#index
  %h1.index {photo albums}
  -folders.each do |folder|
    %hr
    .folder
      %h2.index
        %a{:href=>"#{folder.folderbase}/#{folder.name}.html"}= folder.name
      %ul
        -folder.images.all.sort_by{rand}[0..6].each do |image|
          %li
            %a{:href=>"#{folder.folderbase}/#{folder.name}.html"}
              %img.index{:src=>image.small,:height=>50,:width=>50}
  %hr
