!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title David Honneffer Photography
    %link{:href => "/css/style.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/mobilestyle.css", :rel => "stylesheet", :type => "text/css", :media => "only screen and (max-device-width: 480px)"}
    %link{:href => "/css/mobilestyle.css", :rel => "stylesheet", :type =>"text/css", :media => "only screen and (max-device-width: 1080px)"}
    %link{:href => "/css/slimbox2.css", :rel => "stylesheet", :type =>"text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js", :type => "text/javascript"}
    %script{:src => "/js/slimbox2.js", :type => "text/javascript"}
    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23286835-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
  %body
    #bar
      %img#here{:src => "/advpimg/here.png"}/
      %ul#view
        %li.vw
          %img{:src => "/advpimg/view.png"}/
        %li.fsi
          %a{:href => "pixel.advancedpants.com"} full-size images
      %img#there{:src => "/advpimg/there.png"}/
      %ul#visit
        %li.vs
          %img{:src => "/advpimg/vstitle.png"}/
        %li.resume
          %a{:href => "http://david.honneffer.com"} resume
        %li.vsor
          %img{:src => "/advpimg/vsor.png"}/
        %li.writing
          %a{:href => "http://blog.pearofducks.com"} writing
    #right
      =yield
